{% extends 'base.html.twig' %}

{% block title %}Article index{% endblock %}

{% block body %}
    <h1>Article index</h1>

    {% if app.user %}
        <a href="{{ path('article_new') }}" class="btn btn-primary">Create new</a>
    {% endif %}

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Content</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% if is_granted('ROLE_ADMIN') %}
            {% for article in articles %}
                <tr>
                    <td>{{ article.id }}</td>
                    <td>{{ article.title }}</td>
                    <td>{{ article.content }}</td>
                    <td>
                        <a href="{{ path('article_show', {'slug': article.slug}) }}">show</a>
                        {% if is_granted('ROLE_AUTHOR') %}
                            <a href="{{ path('article_edit', { 'id': article.id} ) }}">Éditer</a>
                        {%endif%}
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            {% for article in app.user.articles %}
                <tr>
                    <td>{{ article.id }}</td>
                    <td>{{ article.title }}</td>
                    <td>{{ article.content }}</td>
                    <td>
                        <a href="{{ path('article_show', {'slug': article.slug}) }}">show</a>
                        {% if is_granted('ROLE_AUTHOR') %}
                            <a href="{{ path('article_edit', { 'id': article.id} ) }}">Éditer</a>
                        {%endif%}
                    </td>
                </tr>
            {% endfor %}
        {% endif %}
        </tbody>
    </table>
{% endblock %}
